<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  
  <style type="text/css">
a {
	color:brown;
	text-decoration:none;
	font-family:"Andale Mono", monospace;
	font-size: medium;
}

body {
	background:lightyellow;
	font-family:"Andale Mono", monospace;
	font-size: small;
}
</style>
</head>

<body>
   <h1>Testing</h1>

<p> Something1! &nbsp&nbsp Something2! &nbsp&nbsp Something3!
    
  
<p><i>Jump to: <a href="#Pictures!" style="font-size: small">Pictures!</a><a href="#Fun Facts!"style="font-size: small">Fun Facts!</a><a href="#Video!"style="font-size: small">Video!</a><a name="o" style="color:lightyellow">o</a><a name="x" style="color:lightyellow">x</a><a name="w" style="color:lightyellow">w</a></i></p>

<hr>

<h2><a name="Pictures!" style="font-size: large">Pictures!</a></h2>

 <p> Text1: </p>

<a href="#o" style="font-size:x-small">Back</a>

<hr>

<h2><a name="Fun Facts!" style="font-size: large">Fun Facts!</a></h2>

 <p> Text 2: </p>

<a href="#x" style="font-size:x-small">Back</a>

<hr>

<h2><a name="Video!" style="font-size: large">Video!</a></h2>

 <p> Text 3: </p>

<a href="#w" style="font-size:x-small">Back</a>
  
<hr>
  
 <p> <a href="default">Go back to Homepage</a></p>

 <hr>
  
    {{ content }}
  
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
  
    {% include analytics.html %}
  </body>
</html>
