<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  
  <style type="text/css">
a {
	color:brown;
	text-decoration:none;
	font-family:"Andale Mono", monospace;
	font-size: medium;
}

body {
	background:lightyellow;
	font-family:"Andale Mono", monospace;
	font-size: small;
}
</style>
</head>

<body>
   <h1>Testing</h1>

<p> Julia Louis-Dreyfus &nbsp&nbsp Steve Carell &nbsp&nbsp 
Stephen Colbert
    
  
<p><i>Jump to: <a href="#JLD!" style="font-size: small"> Julia Louis-Dreyfus </a><a href="#SC1"style="font-size: small"> Steve Carell </a><a href="#Video!"style="font-size: small">Video!</a><a name="o" style="color:lightyellow">o</a><a name="x" style="color:lightyellow">x</a><a name="w" style="color:lightyellow">w</a></i></p>

<hr>

<h2><a name="JDL!" style="font-size: large"> Julia Louis-Dreyfus </a></h2>

 <p> Birthday: January 13, 1961
   <br>
     From: New York City, New York
   <br>
     Notable work:
   <br>
   	<ul>
      <li> SNL (TV) </li>
      <li> Seinfeld (TV) </li>
      <li> The New Adventures of Old Christine (TV) </li>
      <li> Veep (TV) </li>
  </ul>
  

<a href="#o" style="font-size:x-small">Back</a>

<hr>

  <h2><a name="SC1" style="font-size: large"> Steve Carell </a></h2>

 <p> Birthday: August 16, 1962
   <br> 
     From: Concord, Massachusetts
   <br>
     Notable work:
   <br>
     <ul>
       <li> Anchorman: The Legend of Ron Burgendy (Film) </li>
       <li> The 40-Year Old Virgin (Film) </li>
       <li> Little Miss Sunshine (Film) </li>
       <li> Despicable Me (Animated Film) </li>
       <li> Foxcatcher (Film) </li>
       <li> The Big Short (Film) </li>
       <li> SNL (TV) </li>
       <li> The Daily Show (TV) </li>
       <li> The Office (TV) </li>
  </ul>
  
 <a href="#x" style="font-size:x-small">Back</a> 
  
  
<h2><a name="SC2" style="font-size: large"> Stephen Colbert </a></h2>

 <p> Birthday: May 13, 1964
   <br> 
     From: Washington, D.C.
   <br>
     Notable work:
   <br>
     <ul>
       <li> SNL (TV) </li>
       <li> The Daily Show (TV) </li>
       <li> Strangers with Candy (TV) </li>
       <li> The Colbert Report (TV) </li>
       <li> White House Correspondents’ Dinner (Host) </li>
       <li> The Late Show with Stephen Colbert (TV) </li>
  </ul>
  
<a href="#w" style="font-size:x-small">Back</a>

<hr>

<h2><a name="Video!" style="font-size: large">Video!</a></h2>

 <p> Text 3: </p>

<a href="#w" style="font-size:x-small">Back</a>
  
<hr>
 
 <p> <a href="layout/default.html">Go back to Homepage</a></p>

 <hr>
  
    {{ content }}
  
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
  
    {% include analytics.html %}
  </body>
</html>
